html {
	font-size: 20px;
	font-family: 'Mina', sans-serif;
	background-color: grey;
}
p {
	width: 500px;
	color: white;
}
h1 {
	font-size: 60px;
	text-align: center;
	color: white;
}
h2 {
	font-size: 50px;
	text-align: center;
	color: white;
}
body {
	width: 600px;
	margin: 0 auto;
	background-color: #7373F6;
	padding: 0 20px 20px 20px;
	border: 5px solid black;
}
img {
	display: block;
	margin: 0 auto
}